---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="container-fluid">
        <div class="col-sm-6  col-md-6 hero-content">
            <div class="container-fluid">
                <div class="hero-content-inner">
                    <h1>{{ site.hero.hero_title }}</h1>
                    <p>{{ site.hero.hero_description }}</p>
                    <div class="download">
                        <a title="Download Turpial" href="/download/">
                            <button>Download</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-sm-6  col-md-6 screenshot">
            <img alt="turpial microblogging" class="img-responsive center-block" src="img/Screenshot-from-2015-09-04-215851.png"/>
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start Treatments -->
<div id="features" class="features">
    <div class="container-fluid">
        <h2 class="section-title">Features</h2>

        <div class="row">
            {% for feature in site.data.features %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ feature.icon }}"><use xlink:href="#{{ feature.icon }}"></use></svg>
                        <h4>{{ feature.title }}</h4>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start News -->
<div id="news" class="news">
        
    <h2 class="section-title">Latest News</h2>

    {% for post in site.posts limit:4 %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="news-item expandable-box">
            <div class="expandable-box-top">
                <img class="img-responsive" src="img/posts/{{ post.image.featured }}" alt="{{ post.title }} Featured Image">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End News -->