<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
        
        <ul class="social">
            {% if site.twitter %}<li><a target="_blank" href="{{ site.twitter }}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>{% endif %}
            {% if site.google %}<li><a target="_blank" href="{{ site.google }}"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a></li>{% endif %}
            {% if site.feed %}<li><a href="#"><svg class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg></a></li>{% endif %}
        </ul>

        <small>{% if site.copyright %} {{ site.copyright }} {% endif %}</small>

    </div>
</footer>
<!-- End Footer -->