/* FOOTER
-------------------------------------------------*/
.main-footer {
    margin-top: 80px;
    @extend %space;
    color: $white;
    background: lighten($colorPrimary, 2%);
    text-align: center;
    small {
        display: block;
        a,a:hover {
            color: $yellow;
            font-weight: 900;
        }
    }
}
