.single-post {
    .post-header {
        .section-title {
            text-align: left;
            margin-bottom: 10px;
        }
        p {
            margin: 0;
            font-size: 12px;
            padding-left: 10px;
        }
        .post-featured {
            margin-top: 20px;
        }
    }
}