/* HERO
-------------------------------------------------*/
.hero {
    position: relative;
    margin-top: 70px;
    min-height: 600px;
    padding-top: 60px;
    .container-fluid {
        position: relative;
    }
    .icon {
        margin-right: 10px;
        color: $colorPrimary;
        vertical-align: top;
    }
}

.hero-content {
    padding: $space 0;
    background: rgba($white, 0.1);
    @include breakpoint(small) {

    }
    .hero-content-inner {
        @include breakpoint(small) {
            width: 80%;
        }
    }
    h1 {
        margin: 0 0 5px;
        color: $colorPrimary;
    }
    p {
        font-size: 1.125rem;
    }
    .download {
        text-align: center;
        margin-top: 20px;
        button {
            background-color: $mercury;
            -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
            -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
            box-shadow: inset 0px 1px 0px 0px #f5978e;
            background-color: #d43f3a;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-left-radius: 5px;
            text-indent: 0;
            border: 1px solid #d02718;
            display: inline-block;
            color: #fff;
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            width: 200px;
            text-decoration: none;
            text-align: center;
            text-shadow: 1px 1px 0px #810e05;            
        }

    }
    button:hover {
        opacity: 0.9;
    }
}
